/EXERCISES/SiSy_exer1_sigsys/SiSy_HS17_short_exam_1_v1_solution.docx
/EXERCISES/SiSy_exam1_chap1n2/SiSy_HS17_short_exam_1_v1_solution.docx
LABORATORY/SiSy_lab1_intro/SiSy_lab1A_Math_Basics/SiSy_Lab1A_ongoing.mlx
SCRIPT/SiSy_chap1_intro/SiSy_chap1_intro_questions_ongoing.mlx
**/*_ongoing.mlx
/EXERCISES/SiSy_old_exam1/HS17_SiSy_exam1_prep_n_full.mlx
/EXERCISES/SiSy_old_exam1/SiSy_HS17_short_exam1_v1.pdf
/EXERCISES/SiSy_old_exam_SEP/HS17_SiSy_SEP_Solution_scan.pdf
/EXERCISES/SiSy_old_exam_SEP/SiSy_semexam_HS17.pdf
/EXERCISES/SiSy_old_exam2/SiSy_HS17_exam_2_v2_solution.docx
/EXERCISES/SiSy_old_exam2/SiSy_HS17_exam_2_v2.docx
